.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-middle){
    height: min-content;
    padding: 0;
    width: 100dvw;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;

  // Sonuçların widthlerini bookmark widthlerinden ayırmak adına
  & > .preview{
    @media only screen and (max-width: $bp-middle){
      width: 33.3333334%;
    }

    @media only screen and (max-width: $bp-small){
      width: 50%;
    }
  }

  @media only screen and (max-width: $bp-middle){
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  @media only screen and (max-width: $bp-small){
    padding: 1rem 8rem 0 8rem;
  }

  // @media only screen and (max-width: $bp-smallest){
  //   padding-left: 0;
  // }
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  @media only screen and (max-width: $bp-middle){
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3rem 0;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
